client/bin
client/doxygen
client/build
client/dist
client/man/www
client/ext/queue/data-structures-library
client/src/plugins/c/meminfo/mf_meminfo_units
client/src/plugins/c/movidius_arduino/mf_movidius_arduino_units
client/src/plugins/c/nvidia/mf_nvidia_units
client/src/plugins/c/rapl/mf_rapl_units
client/src/plugins/c/sensors/mf_sensors_units
client/src/plugins/c/acme/mf_acme_units

client/**.so
client/**.o
client/**.a
client/**.tar.gz*
client/*.pid
client/*.log
client/*.swp
client/**mf_*_client

server/node_modules
server/dist
server/tmp
